.item {
    width: 90%
}
.custom-tree-node {
    width: 100%;
    text-align: left;
}
.drag {
    &__option {
        font-size: 20px;
        cursor: move;
    }
    
    &__item {
        &.sortable-chosen {
            border: 1px dashed $brand;
        }
    }

    &__remove {
        font-size: 20px;
        color: $red;
        cursor: pointer;
    }

    &__btns {
        font-size: 18px;
        float: right;
        &> i:first-child {
            margin-right: 10px;
            color: $green;
            &:hover {
                color: $green1;
            }
        }
        &> i:last-child {
            color: $red;
            &:hover {
                color: $red1;
            }
        }
    }
}

.right {
    &__link {
        position: absolute;
        z-index: 1;
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: $brand;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        border-top-left-radius: 0;
        color: $white;
    }
    &__attrs {
        margin: 10px 5px;
        padding: 10px;
        box-sizing: border-box;
    }
}

.cascader {
    &__block {
        text-align: center;
    }
}