.draggable {
    &__item {
        position: relative;
        margin-bottom: 10px;
        padding: 10px 5px;
        box-sizing: border-box;
        border-radius: 10px;
        cursor: move;
        &--active, &:hover {
            background-color: $blue3;
            .btns {
                display: block;
            }
        }
    }

    &-row {
        &__item {
            position: relative;
            border: 1px dashed $gray;
            min-height: 10vh;
            box-sizing: border-box;
            padding: 20px 5px;
            border-radius: 10px;
            cursor: move;
            &--active, &:hover {
                border: 1px dashed $brand;
                .btns {
                    display: block;
                }
                &>.draggable-row__title {
                    color: $brand;
                }
            }
        }
        &__title {
            position: absolute;
            top: -10px;
            font-size: 12px;
            color: $gray;
        }
    }
}

.btns {
    display: none;
    position: absolute;
    top: -5px;
    z-index: 1;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    &__copy {
      right: 40px;
      border: 1px solid $green;
      color: $green;
      &:hover {
          background-color: $green;
          color: $white;
      }
    }

    &__delete {
      right: 10px;
      border: 1px solid $red1;
      color: $red1;
      &:hover {
          background-color: $red1;
          color: $white;
      }
    }
}