$headerHeight: 40px;
$bodyHeight: calc(100vh - 40px);

.container {
  display: grid;
  grid-template-columns: 18% auto 24%;
  .scrollbar {
    height: $bodyHeight;
  }

  &__right {
    .el-tabs--top {
      height: 40px;
    }
  }

}

.logo {
  height: $headerHeight;
  line-height: $headerHeight;
  text-align: center;
  white-space: nowrap;
  padding: 5px;
  box-sizing: border-box;
  &__avatar {
    width: 30px;
    height: 30px;
    margin: 0 12px;
    vertical-align: sub; ;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $brand;
  }
}

.canvas {
  &__block {
    position: relative;
    min-height: $bodyHeight;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed $gray;
    background-color: $gray1;
  }

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $brand;
  }
}


.btngroup {
  height: $headerHeight;
  border-right: 1px dashed $gray;
  &__inner {
    float: right;
  }
  &__item {
    float: left;
    padding: 0 10px;
    cursor: pointer;
    line-height: $headerHeight;
    color: $red;
    &:hover {
      color: $red1;
    }
  }

  &__icon {
    margin-right: 5px;
  }

}
