.layout {
    display: flex;
    height: 100vh;
    &__left_panel {
    flex: 1;
    background-color: #f00;
  }
  &__app_main {
    flex: 4;
    background-color: #f0f;
  }
  &__right_panel {
    flex: 1;
    background-color: #00f;
  }
    &__logo {
        height: 5vh;
        background-color: #f0f;
    }

    .logo {
        &__avatar {
            position: relative;
            top: 45%;
            left: 10%;
            float: left;
            transform: translate(-50%, -50%);
            color: $brand;
        }

        &__title {
            margin: 0;
            line-height: 5vh;
            text-align: center;
            color: $brand;
        }
    }
}