$blue:#409EFF;
$blue1: #D9ECFF;
$blue2:#C6E2FF;
$blue3: #ECF5FF;
$green: #67C23A;
$green1: #00CD00;
$brown: #E6A23C;
$red: #F56C6C;
$red1: #f00;
$gray: #909399;
$gray1: #F4F4F5;
$gray2: #E4E7ED;
$white: #ffffff;



$brand: $blue;
$success: $green;
$warning: $brown;
$danger: $red;
$info: $gray;

$editorBgColor: #1e1e1e;
$editorBgColor1: #363636;

// 渐变
$gradient-orange: linear-gradient(318deg, rgba(255, 162, 88, 1) 0%, rgba(255, 223, 97, 1) 100%);
$gradient-light-blue: linear-gradient(140deg, rgba(46, 255, 214, 1) 0%, rgba(9, 172, 222, 1) 100%);
$gradient-green: linear-gradient(141deg, rgba(149, 241, 45, 1) 0%, rgba(27, 204, 117, 1) 100%);
$gradient-red: linear-gradient(150deg, rgba(255, 167, 144, 1) 0%, rgba(255, 99, 146, 1) 100%);
$gradient-blue: linear-gradient(137deg, rgba(56, 220, 255, 1) 0%, rgba(76, 153, 255, 1) 100%);
$gradient-pink: linear-gradient(132deg, rgba(232, 143, 255, 1) 0%, rgba(148, 101, 255, 1) 100%);